<div class="card mb-2 mt-3">
  <img src="{{ searchResult.image }}" alt="{{ searchResult.title }}" class="card-img-top" />

  <div class="card-body">
    <a
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{ searchResult.title }}"
      (click)="goToRecipeDetails(searchResult.id)"
    >
      <p class="card-text">
        {{
          searchResult.title.length > 33
            ? (searchResult.title | slice: 0 : 33) + '...'
            : searchResult.title
        }}
      </p>
    </a>

    <a (click)="goToRecipeDetails(searchResult.id)" class="btn btn-sm btn-outline-primary mt-3"
      >View Recipe</a
    >
  </div>
</div>
